.about-lable {
    font-family: var(--primary-font);
     font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
}