
.advantages {
  padding-top: 61px;
  padding-bottom: 64px;
}

.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-logo-p {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FCFCFC;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.advantages-logo-h {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;

  margin-bottom: 12px;
}

// .adv-item-box {
  
// }

.cow-bac-big {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F8D24E;
}

.advantages-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
// margin-top: 0;
// margin-bottom: 0;
}

.advantages-text {
  
}

.advantages-text:not(:last-child) {
  // margin-bottom: 8px;
}

.adv-list-cow {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 28px;
}

.adv-item-cow {
  justify-content: center;
  // margin: auto;
}
// .cow-bac::after {
//   content: "";
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background: #F8D24E;
// }

.cow-icon::before {
  
}

.cow-icon {
  fill: black;
}

.adv-figure {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: #FCFCFC;
}

.adv-figure-text {
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 170%;
  color: #FCFCFC;
}
.adv-btn {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  border-radius: 10px;
  border-color: transparent;
  margin-top: 24px;
  background: #F8D24E;
}

@media screen and (max-width: 767px) {
  .container {
  max-width: 320px;
  }

  .desktop {
    display: none;
  }


}