@media screen and (min-width: 768px) {
  .arrow-to-top-image {
    display: block;
    width: 58px;
    height: 58px;
    padding: 0;
  }
  .arrow-to-top {
    display: block;
    background-color: transparent;
    padding: 5px;
    z-index: 9999;
    bottom: 40px;
    right: 40px;
    position: fixed;
  }
}
@media screen and (max-width: 767px) {
  .arrow-to-top-image {
    display: none;
  }
}
