.btn_to_top {
position: fixed;
background-color: orange;
right: 20px;
bottom: 20px;
border: 0;
opacity: 0,5;
border-radius: 50%;
cursor: pointer;
display: felx;
align-items: center;
justify-content: center;
width: 34px;
height: 60px;
}

.btn_to_top:before {
content: "";
width: 40px;
height: 40px;
background: transparent no-repeat center center;
background-size: 100% 100%;
background-image: "../images/btn_to_top.svg";
}

.btn_to_top_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn_to_top:hover {
  background-color: green;
  }
}
