    .visual-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }


    .customer {
        border-radius: 50%;
        width: 85px;
        height: 85px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .review {
        padding-top: 80px;
        align-items: center;
    }

    .review-text {
        margin-top: 32px;
        margin-bottom: 0px;
        padding: 35px 39px;
        width: 202px;
        max-height: 186px;

        background-color: #84A178;
        margin-left: auto;
        margin-right: auto;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 2.55;
        color: #FCFCFC;
        border-radius: 10px;
        text-align: center;
    }

    .cusomer-name {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 32px;
        margin-bottom: 30px;
        font-family: Montserrat;
        font-style: Regular;
        font-size: 20px;
        line-height: 1.85;
        text-align: center;
        color: #131313;
    }

    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #84A178;
    }

@media screen and (min-width: 1200px) {

    .review-text {
        padding: 43px 109px;
        width: 750px;
        max-height: 52px;
    }

    .review {
        padding-top: 100px;
    }

    .cusomer-name {
        margin-bottom: 50px;
    }
}