.reviews-item {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

.reviews-image {
  margin-inline: auto;
  margin-bottom: 32px;
  border-radius: 50%;
}

.reviews-text {
  width: 100%;
  padding: 35px 39px;
  margin-inline: auto;
  font-size: 12px;
  font-style: normal;
  line-height: calc(31px / 12px);
  color: #fcfcfc;
  background-color: #84a178;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    max-width: 705px;
    padding: 28px 80px;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(26px / 14px);
    border-radius: 24px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 968px;
    padding: 43px 109px;
    font-size: 16px;
    line-height: calc(30px / 16px);
  }
}

.reviews-name {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(37px / 20px);
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(30px / 16px);
  }
}
