p {
  margin: 0;
}
.footer-body {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
  }
}

.footer-title-first {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fcfcfc;
  display: inline-block;
  width: 232px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    width: 352px;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    width: 504px;
  }
}
.footer-title-secondary {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 200px;
  color: #fcfcfc;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    width: 352px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    width: 500px;
  }
}
.social-item {
  display: inline-block;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #f8d24e;
  animation: gelatine 3.9s infinite;
}

.social-icon {
  fill: #84a178;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
  fill: #fcfcfc;
  animation: gelatine 1.9s infinite;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1.2);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.15);
  }
}
.social-link-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
.footer-text-contacts {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #131313;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
.footer-phone-number {
  color: #fcfcfc;
}
.footer-phone-number:hover,
.footer-phone-number:focus{
  color:#0a8817;
}
.footer-string {
  display: block;
  border-top: 1px solid #e1e1e1;
  margin: 0;
}
.text-copyright {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #7a7a7a;
  padding-bottom: 20px;
  padding-top: 20px;
  @media screen and (max-width: 767px) {
    width: 159px;
    margin: auto;
  }
  @media screen and (min-width: 480px) {
    padding-bottom: 24px;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.footer-title {
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}
.footer {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footer-contacts-item {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}
