p {
  margin: 0;
}
.footer {
  display: flex;
  flex-direction: column;
}
.footer_title_first {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 60px;
  margin-bottom: 16px;
  color: #fcfcfc;
  display: inline-block;
}
.footer_title_secondary {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}

.footer_body {
  background-color: #84a178;
}
.social-item {
  display: inline-block;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #f8d24e;
}

.social-icon {
  fill: #84a178;
}
.social-link-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}
.footer-text-contacts {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #131313;
  margin-bottom: 40px;
}
.footer-phone-number {
  color: #fcfcfc;
}
.footer-string {
  display: block;
  border-top: 1px solid #e1e1e1;
  margin: 0;
}
.text-copyright {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #7a7a7a;
  padding-top: 20px;
  padding-bottom: 20px;
}
