.footer_title_first {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  color: #fcfcfc;
}
.footer_title_secondary {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}
.footer_body {
  background-color: #84a178;
}
