    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6,
    // p {
    //     margin-top: 0;
    //     margin-bottom: 0;
    // }

    // ul,
    // ol {
    //     margin-top: 0;
    //     margin-bottom: 0;
    //     padding-left: 0;
    //     list-style: none;
    // }

    // img {
    //     display: block;
    //     max-width: 100%;
    //     height: auto;
    // }

    // a {
    //     text-decoration: none;
    // }

    // .visual-hidden {
    //     position: absolute;
    //     white-space: nowrap;
    //     width: 1px;
    //     height: 1px;
    //     overflow: hidden;
    //     border: 0;
    //     padding: 0;
    //     clip: rect(0 0 0 0);
    //     clip-path: inset(50%);
    //     margin: -1px;
    // }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .icecream {
        border-radius: 18px;
    }

    .gallery {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 32px;
    }

@media screen and (min-width: 768px; ) {
    .gallery {
        padding-top: 60px;
    }
}

/* -desctop- */
@media screen and (min-width: 1200px) {
    .icecream {
        border-radius: 24px;
    }

    .gallery {
        padding-left: 93px;
        padding-right: 93px;
        padding-top: 80px;
    }
}