    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
    }

    .visual-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
.grennbg {
    height: 32px;
    background-color: #84A178;
    width: 100%;
}

.whitebg {
    background-image: url("../images/background/mob-bg-@1x-581.jpg");
    min-Width: 320px;
    min-Height: 1037px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.whitebg-grennbg-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.icecream {
    border-radius: 24px;

}

.customer {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 85px;
    height: 85px;
}

.review {
    padding-top: 80px;
}

.review-text {
    margin-top: 32px;
    padding: 35px 39px;
    width: 202px;
    max-height: 186px;

    background-color: #84A178;
    margin-left: auto;
    margin-right: auto;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.55;
    color: #FCFCFC;
    border-radius: 10px;
    text-align: center;
}

.cusomer-name {
    padding-top: 32px;
    padding-bottom: 84px;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 20px;
    line-height: 1.85;
    text-align: center;
    color: #131313;
}




/* ---media--- */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .whitebg {
        background-image: url("../images/background/mob-bg-@2x-1770.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .whitebg {
        background-image: url("../images/background/tab-bg-@2x-1926.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .whitebg {
        background-image: url("../images/background/desk-bg-@2x-2600.jpg");
    }
}



/* -tablet-- */
@media screen and (min-width: 767px) {
    .grennbg {
        height: 144px;
    }
}

/* -desctop- */
@media screen and (min-width: 1200px) {
    .grennbg {
        height: 98px;
    }

    .whitebg-grennbg-content {
        padding-left: 93px;
        padding-right: 93px;
    }

    .review-text {
        padding: 43px 109px;
        width: 750px;
        max-height: 52px;
    }
}