.header-text {
        font-family: Seymour One;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        text-transform: uppercase;
        color: yellowgreen;
}