.header-text {
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 48px;
        line-height: 1.33;
        // text-align: center;
        text-transform: uppercase;
        color: yellowgreen;
}