
:root {
  --transition-dur-and-timing-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* style overlay*/
.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .5);
  z-index: 520;
  
  transition: opacity var(--transition-dur-and-timing-fun);
  -webkit-transition: opacity var(--transition-dur-and-timing-fun);
  -moz-transition: opacity var(--transition-dur-and-timing-fun);
}

/* style modal windows*/
.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 530;
  
  text-align: center;
  transition: opacity var(--transition-dur-and-timing-fun);
  -webkit-transition: opacity var(--transition-dur-and-timing-fun);
  -moz-transition: opacity var(--transition-dur-and-timing-fun);
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
// .modal__cross {
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: 0;
  margin: 0;
  list-style: none;
  fill: #131313;
  cursor: pointer;
  background-color: #fcfcfc;
  border: 0;

  @media screen and (max-width: 767.99px) {
    width: 20px;
    height: 20px;
  }
  
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }  
}

.modal-close-btn-icon{
  @media screen and (max-width: 767.99px) {
    width: 11px;
    height: 11px;
  }

  @media screen and (min-width: 768px) {
    width: 14px;
    height: 14px;
  }
  
}

/* Стили для кнопок. */
.btn {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

.modal.container {
  @media screen and (max-width: 767.99px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
  }

  background-color: #fcfcfc;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}

.modal-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media screen and (max-width: 767.99px) {
    margin-top: 28px;
  }
  
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
  
  font-family: 'Seymour One';
  // font-style: normal;
  // font-weight: 400; 
  font-size: 20px;
  line-height: 1.4;

  color: #131313;
}

.modal-send-form {
  display: flex;
  flex-direction: column;
}

.modal-send-form-input,
.modal-send-form-textarea {
  font-family: 'Montserrat';
    // font-style: normal;
    // font-weight: 400;
  font-size: 14px;
  line-height: 1.4;   
  color: #131313;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
