


.container {
    min-width: 320px;
}

@media screen and (max-width: 767.99px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: 768px;
    }
}

.modal-read {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: auto;
    z-index: 30;
    background-color: #fff;
    border: 2px solid rgba(248, 210, 78, 1);
    border-radius: 4px; 
}

@media screen and (max-width: 767.99px) {
    .modal-read {
        min-width: 280px;
        padding: 28px;
    }
}

@media screen and (min-width: 768px) {
    .modal-read {
        width: 568px;  
        padding: 32px;
}
}


.modal-read-title {
    font-size: 20px;
    color: #131313;
    font-family: var(--secondary-font);
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: center;
}

.modal-read-p {
    font-size: 16px;
    color: #131313;
    font-family: var(--primary-font);
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.modal-icon-close {
  
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
