
.modal-title{
  font-family: 'Seymour One';
    // font-style: normal;
    // font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  
  color: #131313;
}

// .modal-products-form-label-check{
//   position: fixed;
//   top: 0;
//     left: 0;
// }

.send-form-checkbox {
//  position: relative;
  margin: 0;
  margin-top: 86px;
  padding: 0;
}

// .modal-img-container{
//   position: relative;
  
// }

// .modal-products{
//   display: flex;
//   flex-direction: column;
//   // line-height: 0;
//   // width: 1px;
// }

// .modal-img-container {
//   position: fixed;
//   // margin: 0;
//   margin: -66px auto 0 auto;
//   // top: 20px;
//   // left: auto;
// }

.modal-product {
  position: fixed;
  margin: -66px auto 0 auto;
}

.modal-product1, .modal-product2, .modal-product3 {
  // margin: 93px auto 0 auto;
  margin: auto;
  width: 132px;
  // padding: 86px 16px 20px 16px;
  // height: 136px;
  border-radius: 15px;
}

.modal-product1 {  
  background-color: #FCFCFC;;
  border: 2px solid #96AF8C;
  filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
}

.modal-product2 {
  background-color: #EFD478;
  border: 2px solid #EFD478;
  box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.1);
}

.modal-product3 {
  background-color: #FCFCFC;
  border: 2px solid #D6936D;
  filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));    
}

.modal-product-name{
  margin-top: 86px;
  font-family: 'Montserrat';
    // font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  
    // text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: #131313;
}