



/* style overlay*/
.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 520;
    transition: opacity var(--transition-dur-and-timing-fun);
    -webkit-transition: opacity var(--transition-dur-and-timing-fun);
    -moz-transition: opacity var(--transition-dur-and-timing-fun);
}

.modal-franchise {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: auto;
  z-index: 30;
  background-color: #fff;
  border: 2px solid rgba(248, 210, 78, 1);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .modal-franchise {
    width: 280px;
    padding: 28px;
  }
}

@media screen and (min-width: 768px) {
  .modal-franchise {
    max-width: 568px;
    padding: 32px 60px;
  }
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  fill: #131313;
  cursor: pointer;
  background-color: #fcfcfc;
  border: 0;

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.modal-franchise-title {
  font-family: 'Seymour One';
  // font-style: normal;
  // font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;

  color: #131313;
  margin-bottom: 20px;


  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    margin-right: 62px;
    margin-left: 62px;
    }
}

.modal-franchise-text {
  text-align: left;
  font-family: 'Montserrat';
  // font-style: normal;
  // font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
  margin-bottom: 24px;
}

 @media screen and (min-width: 768px) {
  .modal-franchise-text {
      font-size: 16px;
      margin-bottom: 32px;
  
    }
 }
 

.btn-franchise {
    font-family: var(--primary-font);
    padding: 12px 34px;
    color: #131313;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    background-color: #F8D24E;
    border: none;
    border-radius: 10px;
    line-height: 1.2;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
  
  
@media screen and (min-width: 1200px) {
  .btn-franchise:hover {
     background-color: #0A8817;
}
  
.btn-franchise:active {
 background-color: #0A8817;
  color: #FFFFFF;
  
}
  
.btn-franchise:disabled {
  background-color: #ABABAB;
}
}


.modal-send-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.modal-send-form-input {
  width: 100%;
  height: 32px;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.4;
  border: 1px solid #84A178;
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  color: #131313;
  margin-bottom: 12px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .modal-send-form-input {
    width: 368px;
    height: 42px;
    margin-right: auto;
    margin-left: auto;
  }
}

.modal-form-textarea {
  width: 100%;
  height: 64px;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.4;
  border: 1px solid #84A178;
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  color: #131313;
  margin-bottom: 24px;
  cursor: pointer;
  resize: none;
  outline: none;
}


@media screen and (min-width: 768px) {
  .modal-form-textarea {
    width: 368px;
    height: 84px;
    margin-bottom: 32px;
   
   
  }
}