
.modal.container.ingred {
  @media screen and (max-width: 767.99px) {
    padding: 0 28px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
}

.modal-title.modal-buy-now {
  // font-family: 'Seymour One';
    // font-style: normal;
    // font-weight: 400;
  
  @media screen and (max-width: 767.99px) {
    font-size: 16px;
    line-height: 1.5;
  }
    
  font-size: 16px;
  line-height: 1.5;
}

.modal-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 32px;
}

.modal-products-item {
  position: relative;
  column-gap: 32px;
  row-gap: 32px;
}

.send-form-checkbox{
  position: absolute;
}


.send-form-label-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}


// .send-form-checkbox {
// //  position: relative;
//   margin: 0;
//   margin-top: 86px;
//   padding: 0;
// }

// .modal-img-container{
//   position: relative;
  
// }

// .modal-products{
//   display: flex;
//   flex-direction: column;
//   // line-height: 0;
//   // width: 1px;
// }

// .modal-img-container {
//   position: fixed;
//   // margin: 0;
//   margin: -66px auto 0 auto;
//   // top: 20px;
//   // left: auto;
// }

// .modal-product {
//   position: fixed;
//   margin: -66px auto 0 auto;
// }

// .modal-product1, .modal-product2, .modal-product3 {
//   // margin: 93px auto 0 auto;
//   margin: auto;
//   width: 132px;
//   // padding: 86px 16px 20px 16px;
//   // height: 136px;
//   border-radius: 15px;
// }

.modal-product1 {
  background-color: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-product2 {
  background-color: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.modal-product3 {
  background-color: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-product-name{
  margin: 0;
  // margin-top: 86px;
  font-family: 'Montserrat';
    // font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  
    // text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: #131313;
}