
.modal.container.ingred{
  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
}

.ingred .modal-title {
  @media screen and (max-width: 767px) {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-img-container {
  margin: auto;
  @media screen and (max-width: 767px) {
    margin-top: 27px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 31px;
  }

  margin-top: 27px;
  border-radius: 50%;
  max-width: 132px;
  max-height: 132px;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-img-product {
  position:relative;
  top: -7px;
  left: 0;
  border-radius: 50%;
}

.modal-nutritional-value-list {
  display: flex;
  @media screen and (max-width: 390px) {
      flex-wrap: wrap;      
    }
  @media screen and (max-width: 767px) {
    row-gap: 9px;
    margin-top: 22px;
    column-gap: 9px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 25px;
    column-gap: 20px;
  }

  align-items: center;
  justify-content: center;  
}

.modal-nutritional-value-item {
  @media screen and (max-width: 767px) {
    width: 53px;
    padding-bottom: 8px;
  }

  @media screen and (min-width:768px) {
    width: 65px;
    padding-bottom: 14px;
  }

  border: 2px solid #9CBE8F;
  border-radius: 40px;
}

.modal-value-container {
  display:inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media screen and (max-width:767.99px) {
    width: 43px;
    height: 43px;
    font-size: 10px;
    line-height: 2.8;
  }

  @media screen and (min-width:768px) {
    width: 53px;
    height: 53px;
    font-size: 12px;
    line-height: 2.33;
  }

  background: #9CBE8F;
  border: 2px solid #9CBE8F;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.modal-nutritional-value-unit{  
  font-family: var(--primary-font);
  @media screen and (max-width:767.99px) {
    font-size: 10px;
    line-height: 1.2;
    margin: 8px auto 0 auto;
  }
  
  @media screen and (min-width:768px) {
    font-size: 12px;
    line-height: 1.25;
    margin: 7px auto 0 auto;
  }
  
  color: #131313;
}

.modal-ingredients {
  @media screen and (max-width:767.99px) {
    margin: 40px auto;
    padding-left: 12px;
    padding-right: 12px;
  }

  @media screen and (min-width:768px) {
    margin: 48px auto;
  }
}

.modal .ingred {
  // height: 100%;
  // max-height: 1050px;
  height: 1050px;
  overflow-y: auto;
}


.modal-ingredients-title {
  // font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  
  color: #131313;
}

.modal-ingredients-item{
  display: flex;
  justify-content: space-between;
  // font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  
  color: #131313;
}

.modal-ingredients-item:first-child {
  margin-top: 24px;
}

.modal-ingredients-item:not(last-child){
  margin-bottom: 11px;
}


// Form modal
.modal-send-form-label:not(first-child) {
  margin-top: 16px;
}

.modal-send-form-input,
.modal-send-form-textarea {
 
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 240px;
  }

  @media screen and (min-width: 768px) {
    width: 365px;
    margin: 0 auto;
  }

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
}

.modal-send-form-input,
.modal-send-form-textarea {
  @media screen and (max-width: 767px) {
    padding: 8px 12px;
  }

  @media screen and (min-width: 768px) {
    padding: 11px 16px;
  }
}

.modal-send-form-textarea {
  height: 84px;
  resize: none;
  overflow: auto;
}

.modal-send-form-input:focus ,
.modal-send-form-textarea:focus,
.modal-send-form-input:active,
.modal-send-form-textarea:active {
  outline: none;
  border-color: #F8D24E;
}

.modal-submit-button{
  margin: 24px auto 28px auto;
  width: 132px;
  height: 42px;
  // font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2143;
  color: #131313;

  background: #F8D24E;
  border-radius: 10px;
  border: none;

  transition: background-color var(--transition-dur-and-timing-fun),
      color var(--transition-dur-and-timing-fun);
  -webkit-transition: background-color var(--transition-dur-and-timing-fun),
      color var(--transition-dur-and-timing-fun);
  -moz-transition: background-color var(--transition-dur-and-timing-fun),
      color var(--transition-dur-and-timing-fun);
  
}

.modal-submit-button:hover
.modal-submit-button:focus {
  outline: none;
  border: none;
  background-color: #0A8817;
  cursor: pointer;
}

.modal-submit-button:active {
  outline: none;
  border: none;
  background-color: #0A8817;
  color: #FFFFFF;
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  outline: none;
  border: none;
  background-color: #0A8817;
  cursor: pointer;
}

// Product card selection style
.modal-product_1 .modal-img-container.modal-ingredient {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.modal-product_1 .modal-value-container {
  background: #9CBE8F;
  border-color: #9CBE8F;
}

.modal-product_1 .modal-nutritional-value-item {
  border-color: #9CBE8F;
}

.modal-product_2 .modal-img-container.modal-ingredient {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}

.modal-product_2 .modal-value-container {
  background: #EFD478;
  border-color: #EFD478;
}

.modal-product_2 .modal-nutritional-value-item {
  border-color: #EFD478;
}

.modal-product_3 .modal-img-container.modal-ingredient {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-product_3 .modal-value-container {
  background: #D6936D;
  border-color: #D6936D;
}

.modal-product_3 .modal-nutritional-value-item {
  border-color: #D6936D;
}


// Validation highlight
.modal-send-form-input input:required:valid {
  border-color: green;
}
.modal-send-form-input input:required:invalid {
  border-color: red;
}