.modal-franchise-title {
  margin-top: 28px;
  font-family: 'Seymour One';
  // font-style: normal;
  // font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;

  color: #131313;
}

.modal-franchise-text {
  text-align: left;
  font-family: 'Montserrat';
    // font-style: normal;
    // font-weight: 400;
  font-size: 14px;
  line-height: 1.4;  
  
  color: #131313;
}