.products-natural {
    font-family: var(--primary-font);
    font-weight: 800;
    text-align: center;
    line-height: 1.22;
}
.products-title {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.products-item-cream {
    background-color: #AEC6A5;
}
.products-item-coffee {
    background-color: #EFD478;
}
.products-item-milkshakes {
    background-color: #D6936D;
}
.products-item {
border-radius: 50px;
background-color: #19c747;
}