:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Seymour One', sans-serif;
}

body {
    //background-color: #84A178;
    background-color: #fff;
}

h1,
h2,
h3,
h4
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}


.container {
    width: 480px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: #84A178;

@media screen and (max-width: 479px) {
    width: 100%;
}

@media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
}

@media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
}
}