<section class="advantages">
    <div class="advantages-wrapper container">
        <h2 class="advantages-logo-h">how it’s made?</h2>
        <p class="advantages-logo-p">tradition and love</p>
        <!-- <li class="advantages-item"> -->
            <img src="./images/about_cow_mob.png" alt="cow">
        <!-- </li> -->
        <!-- <div class="advantages-box"> -->
            <ul class="advantages-list">
                <li class="advantages-item">
                    <p class="advantages-text"> Ice is a place where you will become not only a little happier, 
                    but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p>
                </li>
                <li class="advantages-item">
                    <p class="advantages-text"> We use traditional recipes and 100% natural ingredients. 
                    Our products are so natural that they can be given to children from the age of three years.
                    Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. </p>
                </li>
                <li class="advantages-item desktop">
                    <p class="advantages-text"> This is enough to choose ice cream and coffee for any mood! </p>
                </li>
            </ul>
            <button class="adv-btn" type="button">
                Read more
                <svg class="" width="5.74" height="9.98">
                    <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
                </svg>
            </button>
        <!-- </div> -->
    </div>    
    <ul class="adv-list-cow">
        <li class="adv-item-cow">
            <div class="adv-item-box">
            <img src="./images/cow.png" alt="cow">
            <!-- <svg class="cow-bac-small" width="36" height="36">
                <use class="cow-icon" href="./images/sprite.svg#icon-cow"></use>
            </svg> -->
            <p class="adv-figure">721</p>
            </div>
            <p class="adv-figure-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
        </li>
        <li class="adv-item-cow">
            <img class="#" src="./images/cow.png" alt="cow">
            <svg class="cow-bac-small" width="36" height="36">
                <use class="cow-icon" href="./images/sprite.svg#icon-weight"></use>
            </svg>
            <p class="adv-figure">16kg</p>
            <p class="adv-figure-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
        </li>
        <li class="adv-item-cow">
            <img src="./images/cow.png" alt="cow">
            <svg class="cow-bac-small" width="36" height="36">
                <use class="cow-icon before" href="./images/sprite.svg#icon-ice-cream"></use>
            </svg>
            <p class="adv-figure">84</p>
            <p class="adv-figure-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
        </li>
    </ul>
</section>