<section class="advantages">
  <!-- <div class="container"> -->
  <h2 class="visibility-hidden">Advantages</h2>
  <ul class="adv-list-cow">
    <li class="adv-item-cow">
      <p class="adv-figure">721</p>
      <p class="adv-figure-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="adv-item-cow">
      <p class="adv-figure">16kg</p>
      <p class="adv-figure-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="adv-item-cow">
      <p class="adv-figure">84</p>
      <p class="adv-figure-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
  <!-- </div> -->
</section>