<section class="section-contacts" id="contacts">
  <div class="container for-contacts wow animate__animated animate__zoomIn" data-wow-delay="1000ms">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list-contacts">
      <li class="info-contacts">
        <p class="categories-contacts">CAFE</p>
        <div class="city-contacts">
          <p class="city-name-contacts">Chicago</p>
          <p class="city-address-contacts">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </p>
        </div>
        <div class="day-and-time-contacts">
          <p class="day-contacts">Monday - Friday</p>
          <p class="time-contacts morning-time">06:00 AM - 10:00 PM</p>
          <p class="day-contacts">Saturday - Sunday</p>
          <p class="time-contacts">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="menu-contacts">
          <li class="menu-item-contacts">
            <a href="tel:+61(0) 383 766 284" class="contacts-phone-mail"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="menu-item-contacts">
            <a href="maito:noreply@envato.com" class="contacts-phone-mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="info-contacts">
        <p class="categories-contacts categories-contacts-foodtruck">
          FOODTRUCK
        </p>
        <div class="city-contacts">
          <p class="city-name-contacts">Los Angeles</p>
          <p class="city-address-contacts">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </p>
        </div>
        <div class="day-and-time-contacts">
          <p class="day-contacts">Monday - Friday</p>
          <p class="time-contacts morning-time">06:00 AM - 10:00 PM</p>
          <p class="day-contacts">Saturday - Sunday</p>
          <p class="time-contacts">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="menu-contacts">
          <li class="menu-item-contacts">
            <a href="tel:+61(0) 383 766 284" class="contacts-phone-mail"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="menu-item-contacts">
            <a href="maito:noreply@envato.com" class="contacts-phone-mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="info-contacts">
        <p class="categories-contacts">CAFE</p>
        <div class="city-contacts">
          <p class="city-name-contacts">New York</p>
          <p class="city-address-contacts">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </p>
        </div>
        <div class="day-and-time-contacts">
          <p class="day-contacts">Monday - Friday</p>
          <p class="time-contacts morning-time">06:00 AM - 10:00 PM</p>
          <p class="day-contacts">Saturday - Sunday</p>
          <p class="time-contacts">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="menu-contacts">
          <li class="menu-item-contacts">
            <a href="tel:+61(0) 383 766 284" class="contacts-phone-mail"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="menu-item-contacts">
            <a href="maito:noreply@envato.com" class="contacts-phone-mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts-buttons-wrapper">
      <a href=""
        ><button type="button" class="contacts-btn js-open-modal "data-modal="4">
          Our Locations
          <svg width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
          </svg></button
      ></a>
      <a href=""
        ><button type="button" class="contacts-button js-open-modal "data-modal="5">
          Franchise
          <svg width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
          </svg></button
      ></a>
    </div>

</section>
