<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../sass/_gallery.scss">
</head>
<section class="gallery">
    <div class="container">
        <div>
            <h2 class="visual-hidden"> gallery</h2>
            <div class="gallery-container">
                <div class="whitebg">
                    <div class="grennbg">
                        <div class="whitebg-grennbg-content">
                            <img class="icecream" srcset="
                            ../images/gallery/mob-gallery-1-@1x-280.jpg 280w,
                            ../images/gallery/mob-gallery-1-@1x-480.jpg 480w,
                            ../images/gallery/mob-gallery-1-@2x-560.jpg 560w,
                            ../images/gallery/tab-gallery-1-@1x-704.jpg 704w,
                            ../images/gallery/mob-gallery-1-@2x-960.jpg 960w,
                            ../images/gallery/tab-gallery-1-@1x-1013.jpg 1013w,
                            ../images/gallery/tab-gallery-1-@2x-1408.jpg 1408w,
                            ../images/gallery/desk-gallery-1-@2x-2026.jpg 2026w
                            " src="../images/gallery/tab-gallery-1-@1x-1013.jpg" alt="Мороженко">
                        </div>

                        <div class="review">
                            <img class="customer" srcset="
                            ../images/reviews/review-1-@1x-85.jpg 85w,
                            ../images/reviews/review-1-@2x-170.jpg 170w" src="../images/reviews/review-1-@1x-85.jpg"
                                alt="Emily, Los Angeles">
                            <p class="review-text">
                                I love visiting your cafe. You prepare the most delicious
                                ice cream in Los Angeles! In addition, you have beautiful
                                serving, cozy atmosphere and polite staff.
                            </p>
                            <h3 class="cusomer-name">Emily, Los Angeles</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>