<header id="home">
  <div class="conteiner header-main-nav">
    <a href="#home" class="header-logo link">
      <svg class="header-logo-icon">
        <use href="./images/sprite.svg#icon-Logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="header-site-nav list">
        <li class="header-item">
          <a href="#home" class="header-nav-link link">Home</a>
        </li>
        <li class="header-item">
          <a href="#about" class="header-nav-link link">How it’s made?</a>
        </li>
        <li class="header-item">
          <a href="#products" class="header-nav-link link">Our products</a>
        </li>
        <li class="header-item">
          <a href="#contacts" class="header-nav-link link">Contact</a>
        </li>
      </ul>
    </nav>
    <!--Бургер меню-->
    <button type="button" class="header-mobile-menu-open js-open-modal "data-modal="7">
      <svg class="header-mobile-menu-open-ikon" width="32" height="32">
        <use href="./images/sprite.svg#icon-menu-fill"></use>
      </svg>
    </button>
    <button type="button" class="header-button">
      Buy now
      <svg class="header-button-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
      </svg>
    </button>
  </div>
  <div class="header-mobile-menu js-menu-container  modal" data-modal="7">
    <div class="container header-mobile-menu-container">
      <button class="header-mobile-menu-close-btn js-modal-close">
        <svg class="header-mobile-menu-close-icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-close-line"></use>
        </svg>
      </button>
      <a href="#home" class="header-logo-mobile link">
        <svg class="header-logo-mobile-icon">
          <use href="./images/sprite.svg#icon-Logo"></use>
        </svg>
      </a>
      <ul class="header-site-nav-mobile list">
        <li class="header-item-mobile">
          <a href="#home" class="header-nav-link-mobile link">Home</a>
        </li>
        <li class="header-item-mobile">
          <a href="#" class="header-nav-link-mobile link">How it’s made?</a>
        </li>
        <li class="header-item-mobile">
          <a href="#" class="header-nav-link-mobile link">Our products</a>
        </li>
        <li class="header-item-mobile">
          <a href="#" class="header-nav-link-mobile link">Contact</a>
        </li>
      </ul>
      <button type="button" class="header-button-mobile">
        Buy now
        <svg class="header-button-mobile-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
