<!--HERO-->
<section class="hero">
  <div class="container relative">
    <div>
      <h1>ice cream made with <span>passion</span></h1>
      <ul class="hero-list hero-info">
        <li>
          <p class="hero-title-info">16</p>
          <p class="hero-text-info">cafes</p>
        </li>
        <li>
          <p class="hero-title-info">23</p>
          <p class="hero-text-info">food trucks</p>
        </li>
      </ul>
      <a href="" class="hero-btn-products">Products</a>
      <a href="" class="hero-btn-how">How it’s made?</a>
      <p class="hero-article">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <img
        srcset="
          ./images/hero/ice-cream-mobile.svg  218w,
          ./images/hero/ice-cream-tablet.svg  268w,
          ./images/hero/ice-cream-desktop.svg 480w
        "
        sizes="(min-width: 1200px) 480px, (min-width: 768px) 268px, 218px"
        src="./images/Hero/ice-cream-desktop.svg"
        alt="Big ice
                  cream"
        class="hero-ice-cream"
      />
      <img
        src="./images/hero/dots-mobile.svg"
        alt="Dots"
        class="hero-dots-mobile"
      />
      <img
        src="./images/hero/dots-tablet.svg"
        alt="Dots"
        class="hero-dots-tablet"
      />
      <img
        src="./images/hero/plate-tablet.svg"
        alt="Plate of ice cream"
        class="hero-plate"
      />
      <img
        src="./images/hero/all-dots-desktop.svg"
        alt="Dots"
        class="hero-all-dots"
      />
      <svg width="40" height="16" class="hero-arrow">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
